<script src="/js/docenteCargoAlta.ajax.js"></script>

<div class="w3-container">
  <form action="/docente/cargo/alta" method="post" class="w3-container"> 

    <div class="w3-row-padding">

      <div class="w3-col m3">
        <label for="inputAsignatura" class="w3-text-white">Campo</label>
        <img class="w3-right" id="waitIconAsignatura" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
        <select id="inputAsignatura" class="w3-select inputAsignatura" name="cargo" required disabled>
          <option value="" disabled selected>Seleccione un campo</option>
        </select>
      </div>

      <div class="w3-col m3">
        <label for="inputRevista" class="w3-text-white">S. de Revista</label>
        <select id="inputRevista" class="w3-select" type="text" placeholder="Ingrese su Situación de Revista" name="revista" required>
          <option value="" disabled selected>Seleccione una s. de revista</option>
        </select>
      </div>

       

    </div>
    
    <br>
    &#9642; <span id="disponibleMsg"> </span> <img class="w3-left" id="waitIconAsignatura2" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
    <div class="w3-btn-group w3-col m12">
      <button id="btnEnviar" class="w3-btn w3-green" type="submit" disabled>
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Enviar solicitud
      </button>
      <button id="btnLimpar" class="w3-btn w3-blue" type="button">
        <i class="fa fa-eraser" aria-hidden="true"></i>
        Limpiar
      </button>
      <button id="btnCancelar" class="w3-btn w3-orange" type="button">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </form>
  <hr>
</div>
