<nav class="w3-navbar w3-light-grey" style="height: 50px;">
  <div class="w3-container">
    <a class="w3-navbar-item w3-brand" href="#"><b><i class="fa fa-briefcase"></i> Cargos</b></a>

    <div class="w3-right w3-padding-top">
      <button class="w3-btn w3-green" id="btnDocenteCargoAlta" title="Alta de cargo">
        <i class="fa fa-plus"></i>
      </button>
      <a class="w3-btn w3-grey" href="../"><i class="fa fa-arrow-left"></i></a>
    </div>
  </div>
</nav>
