<nav class="noPrint w3-sidebar w3-collapse w3-white w3-animate-left" style="z-index:3;width:200px;margin-top:0px" id="mySidebar"><br>
  <% if (typeof(user) == "undefined") { %>
    <div class="w3-container w3-row">
      <div class="w3-bar">
        <a class="w3-button w3-white w3-border w3-border-blue" href="/auth/google"> 
          <img class="" src='/img/logoabcai.png' height="30" /> Iniciar sesión 
        </a>
      </div>
    </div>
  <% } else { %>
    <% if (user == null) { %>
      <div class="w3-container w3-row">
        <div class="w3-bar">
          <a class="w3-button w3-white w3-border w3-border-blue" href="/auth/google"> 
            <img class="" src='/img/logoabcai.png' height="30" /> Iniciar sesión 
          </a>
        </div>
      </div>
    <% } else { %>
      <!-- Profile -->
      <div class="w3-center">
        <img src="<%= user.picture %>" class="w3-circle w3-margin-right" style="width:46px">
        <br>
        <%= user.given_name %> <strong><%= user.family_name %></strong>
      </div>
      <div class="w3-bar-block">
        <a href="#" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu">
          <i class="fa fa-remove fa-fw"></i> Close Menu
        </a>
        <a href="/docente/cargo" class="w3-bar-item w3-button w3-padding4">
          <i class="fa fa-briefcase fa-fw"></i> Cargos
        </a>
        <% if (user.admin == 'TRUE') { %>
          <div class="w3-bar-item w3-button" onclick="toggleMenu('certificados')">
            <i class="fa fa-certificate" aria-hidden="true"></i> Certificación <i class="fa fa-caret-down"></i>
          </div>
          <div id="certificados" class="w3-hide w3-white w3-card-4">
            <a href="/cursante/certificado" class="w3-bar-item w3-button">Certificados</a>
            <a href="../cursante/actaVolante" class="w3-button" data-bs-toggle="popover" data-bs-trigger="hover focus" data-bs-content="Disabled popover">
              <i class="fa fa-file-text" aria-hidden="true"></i>  Acta volante
            </a>
            <a href="/cursante/certificado/actaRetiro" class="w3-bar-item w3-button">Acta de retiro</a>
          </div>
          <div class="w3-bar-item w3-button" onclick="toggleMenu('analisis')">
            <i class="fa fa-bar-chart" aria-hidden="true"></i> Análisis <i class="fa fa-caret-down"></i>
          </div>
          <div id="analisis" class="w3-hide w3-white w3-card-4">
            <a href="/cursante/control" class="w3-bar-item w3-button">Control</a>
            <a href="/cursante/analisis" class="w3-bar-item w3-button">Estadísticas</a>
          </div>
        <% } %>
        <hr>
        <a href="/usuario/logout" class="w3-bar-item w3-button w3-padding">
          <i class="fa fa-sign-out fa-fw"></i> Salir
        </a><br><br>
      </div>
    <% } %>
  <% } %>
</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<script>
  function toggleMenu(menuId) {
    var x = $("#" + menuId);
    if (!x.hasClass("w3-show")) {
      x.addClass("w3-show");
      x.prev().addClass("w3-green");
    } else {
      x.removeClass("w3-show");
      x.prev().removeClass("w3-green");
    }
  }
</script>
