<%- include('../layout/partTop.ejs') %>

  <!-- Header -->
  <header class="w3-center">
    <img class="w3-image" src="/img/banerciie.jpg" alt="Banner CIIE">
    <h3 class="display-5">Cursos oficiales, gratuitos, con puntaje de la DGCyE para docentes</h3>
  </header>

  <div class="w3-margin-top">
    <div class="w3-row-padding w3-margin-bottom">
      <% campos.forEach(function(campo){ %>
        <div class="w3-col s12 m6 l4"> <!-- Se muestra en 1 columna en móviles, 2 en tablets y 3 en pantallas grandes -->
          <div class="w3-border w3-white" style="margin-bottom: 20px;">
            <header class="w3-light-grey w3-container">
              <strong><%= campo.nombre %></strong>
              <br>
              <span>Nivel: <%= campo.nivel %></span>
            </header>
            <div class="w3-container w3-light-white">
              <p>1 new friend request</p>
              <hr>
              <img src="img_avatar3.png" alt="Avatar" class="w3-left w3-circle">
              <p>Detalles...</p>
            </div>
            <button class="w3-button w3-block w3-dark-grey">Ver +</button>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
  

 
  
  <!-- Parte de abajo -->
  <%- include('../layout/partBotton.ejs') %>