<% var rootPath = '../'; %>
<%- include(rootPath + 'partials/parte1Superior') %>

  <!-- Header -->

  <div class="container text-center">
    <div class="mt-4 p-5  jumbotron jumbotron-fluid bg-primary">
      <div class="container">
        <img src="/img/logoees62gris.png" width="200" height="200">
        <h3 class="display-5">Escuela de Educación Secundaria N° 62</h3>
        <p class="lead">Bienvenidos al sistema de administración de nuestra escuela</p>
      </div>
    </div>
  </div>

  <div class="container text-center text-black">
    <div class="mt-4 p-3  jumbotron  bg-secondary">
      <div class="container">
        <h2>Consulta de boletín</h2>
          <p>Ingrese el número de DNI del estudiante sin puntos, comas o espacios.</p>
        <div class="d-flex justify-content-center">
                                                   
          <form action="calificacion/estudiante/valoracion" class="row" method="get">

            <div class="col-auto ">
              <label for="dni" class="visually-hidden">DNI</label>
              <input type="number" class="form-control" id="dni" placeholder="DNI" min="9999999" max="100000000" name="dni">
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-primary mb-3">Consultar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

    <%- include(rootPath + 'partials/parte2Inferior') %>