<!-- <script src="/js/docenteCargoAlta.ajax.js"></script> -->
<script src="/js/cursanteAsistencia.ajax.js"></script>

<div class="w3-container">
  <div class="w3-container w3-teal">
    <h2>Fecha de Encuentros</h2>
  </div>
  <form action="/encuentroFecha/post" method="post" class="w3-container">
    <input type="" name="rowNumber" id="efRowNumber" value="">
    <div class="w3-row-padding">
      <% for(var j=1; j<=cohorteUltima.nroEncuentros; j++) {%>
        <% encuentro = 'encuentro'+j %>
        <div class="">
          <label class="w3-text-brown"><b><%= j %>° encuentro </b></label>
          <input id="encuentro<%= j %>" class="w3-input w3-border w3-sand" name="encuentro<%= j %>" type="date">
        </div>
      
      <% } %>
      
      
    </div>
    
    <br>
    &#9642; <span id="disponibleMsg"> </span> <img class="w3-left" id="waitIconAsignatura2" src='/img/whiteIconGrisSegmentos.gif' style="display:none" width="22" height="22" />
    <div class="w3-btn-group w3-col m12">
      <button id="btnEnviar" class="w3-btn w3-green" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
        Enviar solicitud
      </button>
      <button id="btnCancelar" class="w3-btn w3-orange" type="button">
        <i class="fa fa-ban" aria-hidden="true"></i>
        Cancelar
      </button>
    </div>
  </form>
  <hr>
</div>
